.component-mascota-row td {
    padding: 2px;
    border: 0px solid black;
}

.component-mascota-row .idmascota {
    width: 10px;
}

.component-mascota-row .nombre {
    width: 100px;
}

.component-mascota-row .descripcion {
    width: 300px;
}

.component-mascota-row .edad {
    width: 10px;
}

.component-mascota-row .info {
    width: 100px;
}